<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo">¡Bienvenido! @ViewBag.Usuario.Username</h1>
    <div class="data">
        <h2>Datos de la cuenta: </h2>
        <p>Email: @ViewBag.Usuario.Email</p>
        <p>Nombre: @ViewBag.Usuario.Nombre</p>
        <p>Telefono: @ViewBag.Usuario.Telefono</p>
    </div>
    <script src="~/js/confetti-index.js"></script>
    <script src="~/js/confetti-effect.js"></script>
</body>
</html>