<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="Login">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Username">
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
    </div>
</div>
    <div class="Botones">
    <button type="button" class="btn btn-primary btn-lg">¿Eres Nuevo? Registrate</button>
    <button type="button" class="btn btn-secondary btn-lg">Olvide mi contraseña</button>
    </div>
</body>
</html>